$white-color: #ffffff;
$black-color: #000000;
$font-color: #4d101f;
$font-logo: 30px;
$font-large: 1.2rem;
$font-medium: 1rem;
$font-small: 0.875rem;
$font-micro: 0.75rem;

// Color Pallete
$Primary: #7494ff;
$Secondary: #ffe6e6;
$Accent1: #9CF6F6;
$Accent2: #3eb9b9;
$Black1: #242424;
